.addButton{
  display: flex;
  justify-content: flex-end;
}

.scrollable-container {
  max-height: 900px; /* Set the desired height */
  overflow-y: auto; /* Add a vertical scroll bar */
}

.table-container {
  max-height: 600px; /* Set your desired max height */
  overflow-y: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 8px;
  text-align: left;
}

.table-container thead {
  position: sticky;
  top: 0;
  background-color: #f8f9fa; /* Set your desired background color */
  z-index: 1;
}

